# Hi - Kod Atölyesi Pandas Task

In [1]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

<p> Yukarıdaki sözlüğü bir DataFrame haline getirin.</p>

In [3]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

## Exercise 1 
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [5]:
df['Kategori']

0       Giyim
1       Giyim
2    Ayakkabı
3    Aksesuar
4    Ayakkabı
5       Giyim
6    Aksesuar
7    Aksesuar
8    Ayakkabı
9       Giyim
Name: Kategori, dtype: object

In [7]:
df['Ürün']

0            Kazak
1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
7            Yüzük
8            Çizme
9            Ceket
Name: Ürün, dtype: object

In [9]:
df[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [11]:
df[1:6]['Ürün']

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
Name: Ürün, dtype: object

## Exercise 2 
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [14]:
df[df["Kategori"] == "Giyim"]

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [16]:
df[df["Kategori"] == "Ayakkabı"]

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [18]:
df[df["Kategori"] == "Aksesuar"]

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

## Exercise 3
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [33]:
df[(df["Kategori"] =="Giyim") & (df["Fiyat"]>300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [37]:
df[(df["Kategori"] =="Ayakkabı") & (df["Fiyat"]>600)]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [39]:
df[(df["Kategori"] =="Aksesuar") & (df["Fiyat"]>100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150